* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(#000000);
  background: rgb(#000000); 
}

div {
  margin: 1em;
  padding: 1em;
}

li {
  margin: 1em 0 0 1em;
}

label {
  margin: 0 0.5em 0 0.5em;
}
